body {
    font-size: 25px;
}

.container {

    /* border:2px solid black;      */
    width: 400px;
    height: auto;
    margin: auto;
    margin-top: 30px;
    padding: 15PX;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.display {
    width: 90%;
    height: 60px;
    /* border:3px solid red; */
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

h1 {
    text-align: center;
    color: teal;
}

#button-container {
    height: 350px;
    ;
    width: 90%;
    /* border: 1px solid black; */
    margin: auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
}

#button-container>div {
    /* border:2px solid red; */
    align-items: center;
    border-radius: 20px;
    display: grid;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.black {
    background-color: black;
    color: white;
    font-weight: bolder;
}

#red {
    background-color: red;
    color: white;
    font-weight: bolder;
}